:root {
  --grey: #e4e4e4;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--grey);
  color: white;
  margin-bottom: 40px;
}

.logo img {
  margin: 0.5rem;
  height: 150px;
}

.navbarLinks ul {
  display: flex;
}

.navbarLinks li {
  list-style: none;
}

.navbarLinks li a {
  text-decoration: none;
  color: black;
  padding: 2rem;
  display: block;
}

.navbarLinks li a:hover {
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
}

.toggleButton {
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  margin-top: 60px;
}

.toggleButton .bar {
  height: 4px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

@media screen and (max-width: 850px) {
  .toggleButton {
    display: flex;
  }

  .navbarLinks {
    display: none;
  }

  .navbar {
    flex-direction: column;
  }

  .navbarLinks ul {
    flex-direction: column;
  }

  .navbarLinks li {
    text-align: center;
  }

  .navbarLinks.active {
    display: flex;
  }
}

/* about */
.aboutImage img {
  object-fit: cover;
  height: 350px;
  width: 80%;
  margin: 0 auto;
  display: block;
}

.aboutInfo {
  margin-bottom: 70px;
}

.aboutQuote {
  border-left: 5px solid grey;
  margin-top: 30px;
  padding-left: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.quote {
  font-style: italic;
  margin-top: 40px;
}

.aboutPicture {
  border-radius: 50%;
  height: 200px;
}

.heroText {
  position: absolute;
  text-align: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

.aboutText {
  text-align: left;
  max-width: 600px;
  align-items: center;
  margin: auto;
}

.aboutHeader {
  margin: 40px 0 10px 0;
  text-align: center;
  text-transform: uppercase;
}

/* contact */
.contactSubhead {
  text-align: center;
}

.contact {
  max-width: 600px;
  margin: auto;
}

form {
  padding-top: 1em;
}

input {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

button {
  background: var(--grey);
  border: none;
  width: 200px;
  height: 40px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 0.5rem;
}

button:hover {
  background: #636363;
  color: white;
  transition: ease-out 0.4s;
}

.formError {
  display: none;
  color: red;
  font-size: 0.9rem;
}

.formSection {
  margin-bottom: 20px;
}

/* index */
.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.products img {
  object-fit: cover;
  height: 400px;
  width: 400px;
}

/* blog detail page */
.cardDetail {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.productContainer img {
  width: 7rem;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  object-fit: cover;
  height: 400px;
  width: 400px;
}

#myImg:hover {
  opacity: 0.8;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modalContent {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modalContent {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.exit {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.exit:hover,
.exit:focus {
  color: var(--grey);
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .modalContent {
    width: 100%;
  }
}

/* footer */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--grey);
  margin-top: 50px;
  justify-items: center;
  padding-top: 20px;
}

.footerLogo img {
  height: 100px;
}

.soMe img {
  height: 30px;
  padding: 0 20px;
  cursor: pointer;
}

.soMe,
.footerText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerText {
  text-transform: uppercase;
}
